
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div class="jumbotron">
        <h1>welcome to phonebook Application</h1>
        <input type="button" value="Newdata" onclick="location.href='@Url.Action("Enter", "user")'" />
    </div>
</body>
</html>
