@model IEnumerable<Phone.Models.UserDataModel>
@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterUser</title>
    <script>
        var n = 1;
        function AddRow() {

            var AddRown = document.getElementById('table');
            var NewRow = AddRown.insertRow(n);

            NewRow.insertCell(0).innerHTML = document.Phonebook.Name.value;
            NewRow.insertCell(1).innerHTML = document.Phonebook.Address_line_1.value;
            NewRow.insertCell(2).innerHTML = document.Phonebook.Address_line_2.value;
            NewRow.insertCell(3).innerHTML = document.Phonebook.City.value;
            NewRow.insertCell(4).innerHTML = document.Phonebook.pincode.value;
            NewRow.insertCell(5).innerHTML = document.Phonebook.Phonenumber.value;

            n++;
        }
    </script>
</head>
<body>
    <div>
        <form name="Phonebook" action="submit" method ="post">
            Name :<input id="Name" name="Name" type="text" /><br /><br />
            Address_line_1 :<input id="Address_line_1" name="Address_line_1" type="text" /><br /><br />
            Address_line_2 :<input id=" Address_line_2" name="Address_line_2" type="text" /><br /><br />
            City :<input name="City" id="City" type="text" /><br /><br />
            Pincode :<input name="pincode" id="pincode" type="text" /><br /><br />
            Phonenumber :<input name="Phonenumber" id="Phonenumber" type="text" /><br /><br />
            @*<input Id="Submit" type="submit" value="submit" />*@
            <input id="Add" type="button" value=" Add" onclick="AddRow()" />
            <input type="reset" id="reset" />
            <input type="button" value="GotoHome" onclick="location.href='@Url.Action("Dashboard", "User")'" /><br /><br />
            <div class="container">
                <table id="table" border="1">
                    <tr>
                        <th>Name</th>
                        <th>Address_line_1</th>
                        <th>Address_line_2</th>
                        <th>City</th>
                        <th>Pincode</th>
                        <th>Phonenumber</th>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>
